body{

    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}

.cont-index{
    text-align: center;

}

.submitIndex{
    background-color: blue;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    margin: 20px;
}

form{
    background-color: cornflowerblue;
    color: beige;
    padding: 20px 10%;
}

input{
    font-size: medium;
}

#buton{
    background-color: darkblue;
    color: antiquewhite;
    padding: 10px 10%;
}

#referenciaWin{
    color: chartreuse;
}

#referenciaLose{
    color: red;
}

#submitVer{
    background-color: blue;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    margin: 20px;

}

table{
    border-style: double;
    border-collapse: separate;
    background-color: blue;
    color: azure;
    text-align: center;
    margin: 20px, 40%;
}